<mat-grid-list cols="4" [rowHeight]="'200px'" [gutterSize]="'20px'">
  @for (book of displayedBooks; track book) {
     <mat-grid-tile class="detail-card mat-elevation-z8" >
      <mat-grid-tile-header [style.background]="'#3c6cc9'" class="book-title">{{ book.title }}</mat-grid-tile-header>

      <div class="flex mx-2">
        <p>
          <span class="label">Author : </span>
          <span>{{ book.author}}</span>
        </p>
        <p>
          <span class="label">Language : </span>
          <span>{{ book.language}}</span>
        </p>
      </div>


      <mat-grid-tile-footer [style.background]="'#e6e6e6'" class="space-between my-1">
        <a mat-button class="card-button" [routerLink]="['/book-detail', book.id]" routerLinkActive="active" ariaCurrentWhenActive="page">Details</a>
        <a class="card-button" mat-button href={{book.link}} target="_blank">Wiki</a>
      </mat-grid-tile-footer>
    </mat-grid-tile>
  }
</mat-grid-list>

<mat-paginator  [length]="books.length"
                [pageIndex]="pageIndex"
                [pageSize]="pageSize"
                [pageSizeOptions]="[8, 16, 32, 64, 128]"
                (page)="handlePage($event)"
                aria-label="Select page"
                class="mt-2">
</mat-paginator>
