.book-card {
  min-width: 250px;
  background-color: #e6e6e6;
  border-radius: 5px;
}

.book-title{
  font-style: italic;
  font-size: large;
}

.card-button{
  color: white;
  background-color: var(--accent-color);
}

.label{
  color: #5a5a5a;
}
