<mat-toolbar color="primary">
  <mat-icon class="mx-3" fontIcon="menu_book"></mat-icon>
  <a mat-button class="mx-3" routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a>
  <a mat-button class="mx-3" routerLink="/book-list" routerLinkActive="active" ariaCurrentWhenActive="page">Books</a>
  <a mat-button class="mx-3" routerLink="/member-list" routerLinkActive="active" ariaCurrentWhenActive="page">Members</a>
  <a mat-button class="mx-3" routerLink="/loan-list" routerLinkActive="active" ariaCurrentWhenActive="page">Loans</a>
</mat-toolbar>

