<div class="book-card p-2">
    <div class="mx-2">
        <p class="book-title">{{ selectedBook.title}}</p>
        <p>
            <span class="label">Author : </span>
            <span>{{ selectedBook.author}}</span>
        </p>
        <p>
            <span class="label">Country : </span>
            <span>{{ selectedBook.country}}</span>
        </p>
        <p>
            <span class="label">Language : </span>
            <span>{{ selectedBook.language}}</span>
        </p>
        <p>
            <span class="label">Year : </span>
            <span>{{ selectedBook.year}}</span>
        </p>
        <p>
            <span class="label">Number of pages : </span>
            <span>{{ selectedBook.pages}}</span>
        </p>
    </div>
</div>
